body {
  background-image: url(images/background1.png);
  background-size: 100%;
}

/**************** FONT STYLE AND SIZE START ****************/

.header {
  font-family: "EB Garamond";
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 8rem;
}

p,
td {
  font-family: "EB Garamond";
  font-size: 2rem;
  font-style: italic;
  color: #10141b;
}

th {
  font-family: "Mason Sans OT";
  text-transform: uppercase;
  font-size: 2.5rem;
  padding: 50px 80px 50px 0px;
  color: #10141b;
}

.student_info p:nth-child(1),
.student_info p:nth-child(3),
.student_info p:nth-child(5),
.student_info p:nth-child(8),
.student_info p:nth-child(11),
.student_info p:nth-child(13) {
  font-family: "Mason Sans OT";
  font-style: normal;
  font-weight: 600;
  color: #303338;
}

/**************** FONT STYLE AND SIZE DONE ****************/

/**************** FILTER,SORT AND SEARCH STYLING START ****************/
select,
input {
  background-color: transparent;
  border: 1px solid black;
  font-size: 1.5rem;
  font-family: "EB Garamond";
  font-style: italic;
  letter-spacing: 1px;
}

label,
.search_wrapper {
  font-family: "EB Garamond";
  font-style: italic;
  font-size: 2rem;
  padding: 5px;
  margin: 30px 50px 0 50px;
  letter-spacing: 1px;
}

/**************** FILTER,SORT AND SEARCH STYLING DONE ****************/

/**************** BUTTONS START ****************/
button,
option {
  background-color: transparent;
  border: 1px solid black;
  font-size: 1.5rem;
  font-family: "EB Garamond";
  font-style: italic;
  letter-spacing: 1px;
}

/**************** BUTTONS DONE ****************/

/**************** INTERFACE START ****************/
[data-field="prefect_logo"] img {
  width: 35%;
}

[data-field="lastname"] {
  display: none;
}

table {
  /* margin-left: auto;
  margin-right: auto; */
  padding-bottom: 300px;
}

.headerpicture {
  width: 80%;
  margin-bottom: 100px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
[data-field="name"] {
  cursor: pointer;
}

[data-field="name"]:hover {
  font-size: 2.5rem;
}

.interface_wrapper {
  display: flex;
  justify-content: end;
  flex-direction: row-reverse;
}
.interface_col {
  flex-grow: 1;
  flex-basis: 300px;
  margin: 100px;
}

/**************** INTERFACE SLUT ****************/

/**************** POP UP START ****************/
.dialog,
#confirmation {
  position: fixed;
  top: 10vw;
  left: 50vw;
  width: 20%;

  text-align: center;
  background-image: url(images/background1.png);
  background-size: 100%;
}

.hide {
  display: none;
}

#popUp {
  overflow: scroll;
  position: fixed;
  top: 0;
  left: 50vw;
  width: 50%;
  height: 100vh;
  text-align: center;
  /* background-image: url(images/background1.png); */
  /* background-color: white; */
}

.sectionwrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.studentinfo_col {
  border: 5px solid black;
  border-radius: 10px;
  margin: 0 100px 100px 100px;
  padding-bottom: 100px;
  background-image: url(images/background1.png);
}

.student_picture {
  width: 20%;
}

#closebutton {
  border: none;
  font-style: normal;
  font-size: 4rem;
  cursor: pointer;
  padding-left: 800px;
}

/**************** POP UP SLUT ****************/
